@charset "utf-8";

font-size = 0.0001em
max-width = 860px

// http://hue360.herokuapp.com/
// http://photoshopvip.net/78358
first-color = #ffccbb

second-color = #006c84
second-hightlight-color = #6eb5c0
third-color = #e2e8e4
// fourth-color = #


html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-family: "Arial","HiraginoSans-W3"
  font-size: 18px
  

  

